.search-result-page {
		padding: 15rpx;
	}
	
	.search-header {
		display: flex;
		align-items: center;
		gap: 15rpx;
		margin-bottom: 30rpx;
	}
	
	.search-btn {
		padding: 0 20rpx;
		height: 70rpx;
		line-height: 70rpx;
		background-color: #2867CE;
		color: white;
		border-radius: 35rpx;
		font-size: 28rpx;
	}
	
	.search-result {
		.result-title {
			font-size: 32rpx;
			font-weight: bold;
			margin-bottom: 20rpx;
		}
		
		.result-list {
			display: flex;
			flex-direction: column;
			gap: 20rpx;
		}
	}