.banners {
	width: 100%;
}
.custom-swiper {
	width: 100%;
	height: 300rpx;
	border-radius: 15rpx;
	overflow: hidden;
}
.swiper-box {
	width: 100%;
	height: 100%;
}
.swiper-item, .image-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner-title {
    z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20rpx 30rpx;
	font-size: 24rpx;
	line-height: 1.4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
.notice {
	margin-top: 20rpx;
}