.scenic-card {
	border-radius: 12rpx;
	overflow: hidden;
}

.card-image {
	width: 100%;
	height: 300rpx;
}

.card-content {
	padding: 20rpx;
}

.card-title {
	font-size: 30rpx;
	font-weight: bold;
	margin-bottom: 10rpx;
}

.card-tags {
	display: flex;
	gap: 10rpx;
	margin-bottom: 15rpx;
}

.card-info {
	display: flex;
	justify-content: space-between;
	font-size: 26rpx;
	color: #666;
}

.card-address {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 20rpx;
}

.card-times {
	color: #666;
	font-size: 24rpx;
	text-align: right;
	flex-shrink: 0;
}