.demo-waterfall-item {
	margin: 10rpx 10rpx 10rpx 0;
	background-color: #fff;
	border-radius: 16rpx;
	padding: 16rpx;
	position: relative;

	.demo-title {
		font-size: 30rpx;
		margin-top: 10rpx;
		color: #303133;
	}

	.demo-price {
		font-size: 24rpx;
		color: #777;
		margin-top: 10rpx;
	}

	.demo-tag {
		display: flex;
		margin-top: 10rpx;

		.demo-tag-owner {
			border: 1px solid rgb(252, 163, 129);
			color: #ffaa00;
			font-size: 20rpx;
			display: flex;
			align-items: center;
			padding: 4rpx 14rpx;
			border-radius: 50rpx;
		}

		.demo-tag-text {
			border: 1px solid #00aaff;
			color: #00aaff;
			margin-left: 20rpx;
			border-radius: 50rpx;
			padding: 4rpx 14rpx;
			font-size: 20rpx;
			display: flex;
			align-items: center;
		}
	}

	.isDot {
		position: absolute;
		top: 20rpx;
		right: 20rpx;
		font-size: 24rpx;
		color: #fff;
		line-height: 32rpx;
		background-color: #ff0000;
		text-align: center;
		border-radius: 10rpx;
		padding: 4rpx 10rpx;
	}
}
