.my-information {
	min-height: 100vh;
	background-color: #f5f5f5;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20rpx 30rpx;
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 100;

	.back-btn {
		width: 60rpx;
		height: 60rpx;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		font-weight: 500;
		color: #333;
	}

	.save-btn {
		font-size: 28rpx;
		color: #2867CE;
		padding: 10rpx 20rpx;
	}
}

.avatar-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40rpx 30rpx;
	background-color: #fff;
	margin-top: 20rpx;

	.avatar-label {
		font-size: 32rpx;
		color: #333;
	}

	.avatar-wrapper {
		.avatar-btn {
			width: 120rpx;
			height: 120rpx;
			border-radius: 50%;
			padding: 0;
			position: relative;
			overflow: hidden;
			background: none;
			border: none;

			&::after {
				border: none;
			}
		}

		.avatar-img {
			width: 120rpx;
			height: 120rpx;
			border-radius: 50%;
			display: block;
		}

		.avatar-mask {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 40rpx;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			border-bottom-left-radius: 60rpx;
			border-bottom-right-radius: 60rpx;
		}
	}
}

.info-list {
	margin-top: 20rpx;
	background-color: #fff;

	.info-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30rpx;
		border-bottom: 1rpx solid #f0f0f0;

		&:last-child {
			border-bottom: none;
		}

		.info-label {
			font-size: 32rpx;
			color: #333;
			width: 150rpx;
		}

		.info-input {
			flex: 1;
			font-size: 28rpx;
			color: #333;
			text-align: right;
		}

		.info-value {
			flex: 1;
			font-size: 28rpx;
			color: #333;
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.placeholder {
			color: #999;
		}
	}
}